/* Created 02-22-2023 by stringzzz, Ghostwarez Co. */

body {
	background-image: url("Images/leaftile.jpg");
	background-size: 25%;
	background-repeat: repeat;
	background-attachment: fixed;
	font-size: 1vw;
}

.banner-nav {
	width: 50%;
	background-color: RGB(200, 165, 90);
	color: black;
	border: 2px solid black;
	border-radius: 10%;
	padding-top: 1%;
	margin: 0% 25%;
	box-shadow: 2px 2px 4px black;
}

.banner-nav .banner-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.banner-nav img {
	max-width: 90%;
	border: 1px solid black;
	border-radius: 10%;
}

.navigation-list {
	width: 90%;
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}

a {
	text-decoration: none;
	color: black;
	text-shadow: 0 0 1vw RGB(0, 120, 0);
}

a:hover {
	color: rgb(0, 120, 0);
	text-decoration: none;
	text-shadow: 0 0 1vw black;
}

.content {
	color: black;
	width: 50%;
	margin: 3% 25%;
	background-color: RGB(200, 165, 90);
	border: 2px solid black;
	border-radius: 10%;
	box-shadow: 2px 2px 4px black;
	text-align: center;
}

p {
	margin: 5% 10%;
	overflow-wrap: break-word;
	text-align: left;
}

h1 {
	font-size: 1.5vw;
	margin-top: 6%;
}

h2 {
	font-size: 1.3vw;
}


/* For Restaraunt & Bakery Menu */

.meal-section {
	padding: 5% 5%;
}

.divider {
	width: 90%;
	display: block;
	margin-left: 5%;
}

.section-image {
	max-width: 30%;
	display: block;
	margin-left: 35%;
	margin-bottom: 5%;
}

.meal-section .item-name {
	clear: both;
	float: left;
}

.meal-section .item-price {
	float: right;
}

.meal-section .item-description {
	font-size: 0.8vw;
	font-style: italic;
	margin-bottom: 2%;
	margin-left: 5%;
	clear: both;
	float: left;
}

.bake-content {
	width: 35%;
	margin: 3% 32.5%;
}

.meal-section .item-options {
	text-align: left;
	margin: 0 0 2% 0;
	padding-left: 2%;
}

.item-options {
	clear: both;
}

.item-options > li {
	list-style: none;
	background-position: left center;
	background-size: 3%;
	background-image: url("Images/leafpoint.png");
	background-repeat: no-repeat;
	padding-left: 3.5%;
}

.end-message {
	padding-top: 5%;
	font-size: 0.8vw;
	clear: both;
}
